---
import type { BaseProps } from "@models/props";

export type Props = BaseProps;

const { id, style, class: cls } = Astro.props;
---

<footer
    {id}
    {style}
    class:list={cls}
    class="footer flex h-32 w-full cursor-default flex-col items-start justify-start px-(--space-x) select-none max-sm:h-40 max-sm:pb-2">
    <div
        class="content mt-8 flex w-full grow flex-row items-center justify-between max-sm:flex-col max-sm:justify-center max-sm:gap-1">
        <a
            href="https://x.com/intent/post?text=%23NosVemosEnLaCarretera%20%23MiRoulotte"
            target="_blank"
            rel="noopener noreferrer"
            class="text-muted-foreground-variant hover:text-primary-hover text-normal inline-flex cursor-default flex-row items-center justify-start text-center transition-colors"
            tabindex="-1">
            ¡Nos vemos en la carretera!
        </a>
        <nav
            role="navigation"
            class="social-links flex flex-row sm:-mr-2.5"
            aria-label="Redes sociales y contacto">
            <a
                href="mailto:contacto@miroulotte.es?subject=Contactar%20con%20Mi%20Roulotte"
                title="Correo electrónico"
                target="_blank"
                rel="noopener noreferrer"
                class="text-muted-foreground-variant hover:text-primary-hover inline-flex h-10 w-10 flex-row items-center justify-center p-2.5 transition-colors"
                aria-label="Enviar correo electrónico a Mi Roulotte"
                tabindex="-1">
                <i class="icon ibm-email text-current" aria-hidden="true"></i>
            </a>
            <a
                href="https://www.instagram.com/miroulotte/"
                title="Instagram"
                target="_blank"
                rel="noopener noreferrer"
                class="text-muted-foreground-variant hover:text-primary-hover inline-flex h-10 w-10 flex-row items-center justify-center p-2.5 transition-colors"
                aria-label="Instagram de Mi Roulotte"
                tabindex="-1">
                <i class="icon ibm-logo-instagram text-current" aria-hidden="true"></i>
            </a>
            <a
                href="https://www.x.com/miroulotte/"
                title="X"
                target="_blank"
                rel="noopener noreferrer"
                class="text-muted-foreground-variant hover:text-primary-hover inline-flex h-10 w-10 flex-row items-center justify-center p-2.5 transition-colors"
                aria-label="X de Mi Roulotte"
                tabindex="-1">
                <i class="icon ibm-logo-x text-current" aria-hidden="true"></i>
            </a>
            <a
                href="https://www.youtube.com/@miroulotte/"
                title="YouTube"
                target="_blank"
                rel="noopener noreferrer"
                class="text-muted-foreground-variant hover:text-primary-hover inline-flex h-10 w-10 flex-row items-center justify-center p-2.5 transition-colors"
                aria-label="YouTube de Mi Roulotte"
                tabindex="-1">
                <i class="icon ibm-logo-youtube text-current" aria-hidden="true"></i>
            </a>
        </nav>
    </div>
    <div
        class="legal text-label text-gray-20 dark:text-gray-70 flex h-8 w-full flex-row items-center justify-between max-sm:flex-col max-sm:justify-center max-sm:gap-1">
        <div class="links flex flex-row items-center">
            <a
                href="/politica-privacidad"
                class="hover:text-gray-20-hover dark:hover:text-gray-70-hover text-center underline transition-colors"
                tabindex="-1">
                <span class="max-sm:hidden">Política de Privacidad</span>
                <span class="sm:hidden">Privacidad</span>
            </a>
            <span aria-hidden="true">&nbsp;·&nbsp;</span>
            <a
                href="/politica-cookies"
                class="hover:text-gray-20-hover dark:hover:text-gray-70-hover text-center underline transition-colors"
                tabindex="-1">
                <span class="max-sm:hidden">Política de Cookies</span>
                <span class="sm:hidden">Cookies</span>
            </a>
            <span aria-hidden="true">&nbsp;·&nbsp;</span>
            <a
                href="/aviso-legal"
                class="hover:text-gray-20-hover dark:hover:text-gray-70-hover text-center underline transition-colors"
                tabindex="-1">
                <span class="max-sm:hidden">Aviso Legal</span>
                <span class="sm:hidden">Legalidad</span>
            </a>
        </div>
        <a
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/de"
            target="_blank"
            rel="noopener noreferrer"
            class="license hover:text-gray-20-hover dark:hover:text-gray-70-hover transition-colors"
            aria-label={`Copyright ${new Date().getFullYear()} Mi Roulotte. Licencia Creative Commons BY-NC-SA 4.0 (se abre en una nueva pestaña)`}
            tabindex="-1">
            &copy; {new Date().getFullYear()} Mi Roulotte
        </a>
    </div>
</footer>
