<section
    id="inicio"
    class="max-md:bg-muted max-md:animate-clip-right md:**:animation-paused relative w-[calc(var(--space-x)+100%)] overflow-hidden select-none max-md:-left-(--space-x) max-md:scroll-mt-(--space-y) max-md:px-(--space-x) max-md:py-8 md:h-screen md:w-screen md:snap-start"
    aria-label="Sección de presentación de Mi Roulotte">
    <img
        src="/assets/IMG_20200825_185010.webp"
        alt="Paisaje de los acantilados de Ponta da Piedade"
        class="absolute top-0 left-0 h-full w-full object-cover max-md:hidden"
        decoding="async"
        loading="eager"
        fetchpriority="high"
    />
    <h1
        class="text-title md:animate-float-top max-md:translate-0! md:absolute md:top-[26%] md:left-1/2 md:-translate-x-1/2 md:text-[8vw] md:text-white">
        Mi Roulotte
    </h1>
    <img
        src="/assets/IMG_20200825_185010.webp"
        alt=""
        style="mask-image: url('/assets/IMG_20200825_185010_MASK.webp')"
        class="absolute top-0 left-0 h-full w-full mask-cover mask-center object-cover max-md:hidden"
        decoding="async"
        aria-hidden="true"
    />
    <div
        class="absolute right-(--space-x) bottom-(--space-y) flex flex-row max-md:hidden md:animate-[500ms_cubic-bezier(0.4,0,0.2,1)_500ms_backwards_fade]">
        <a
            href="https://www.instagram.com/miroulotte/"
            title="Instagram"
            target="_blank"
            rel="noopener noreferrer"
            class="button button-fill-primary hover:bg-white-hover bg-white text-gray-100"
            aria-label="Instagram de Mi Roulotte"
            tabindex="-1">
            <i class="ibm-logo-instagram" aria-hidden="true"></i>
        </a>
        <a
            href="https://www.x.com/miroulotte/"
            title="X"
            target="_blank"
            rel="noopener noreferrer"
            class="button button-fill-primary hover:bg-white-hover bg-white text-gray-100"
            aria-label="X de Mi Roulotte"
            tabindex="-1">
            <i class="ibm-logo-x" aria-hidden="true"></i>
        </a>
        <a
            href="https://www.youtube.com/@miroulotte/"
            title="YouTube"
            target="_blank"
            rel="noopener noreferrer"
            class="button button-fill-primary hover:bg-white-hover bg-white text-gray-100"
            aria-label="YouTube de Mi Roulotte"
            tabindex="-1">
            <i class="ibm-logo-youtube" aria-hidden="true"></i>
        </a>
    </div>
</section>

<script>
    let ticking = false;
    let desktop = false;
    const section = document.body.querySelector<HTMLElement>("main > section#inicio")!;
    const title = section.querySelector<HTMLHeadingElement>("h1")!;

    // Scroll Listener
    const scrollCallback = () => {
        if (!ticking) {
            window.requestAnimationFrame(() => {
                if (section.getBoundingClientRect().bottom > 0) {
                    const y = window.scrollY * 0.25;

                    title.style.transform = `translateY(${y}px)`;
                }
                ticking = false;
            });
            ticking = true;
        }
    };

    // Resize Listener
    const resizeCallback = () => {
        if (window.innerWidth >= 48 * 16 && !desktop) {
            window.addEventListener("scroll", scrollCallback);
            desktop = true;
        } else if (window.innerWidth < 48 * 16 && desktop) {
            title.style.transform = "";
            window.removeEventListener("scroll", scrollCallback);
            desktop = false;
            ticking = false;
        }
    };

    window.addEventListener("resize", resizeCallback);
    resizeCallback();
</script>
