---
import Layout from "@components/layout/Layout.astro";
import Header from "@components/shared/Header.astro";
import Main from "@components/shared/Main.astro";
import "@styles/globals.css";
---

<Layout title="Mi Roulotte">
    <Header />
    <Main>
        <h1>Mi Roulotte</h1>
    </Main>
</Layout>
