---
import Layout from "@components/layout/Layout.astro";
import Header from "@components/shared/Header.astro";
import "@styles/globals.css";
---

<Layout title="Mi Roulotte">
    <Header />
    <h1>Mi Roulotte</h1>
</Layout>
